{% extends "base_load.html" %}
{% block extraLoad %}
    {% load static %}
    {% load widget_tweaks %}
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
{% endblock %}

<!--  ToDo Add validation with JS-->
{% block base_content %}
    <div class="container">
        <div id="formBoard" class="row form-panel">
            <form action="" method="post">{% csrf_token %}
                <fieldset class="form-group {% if form.username.errors %}has-error{% endif %}">
                    {% render_field form.username class="form-control form-control-success " id="userNameInput" placeholder="Enter username" %}
                </fieldset>

                <fieldset class="form-group">
                    {% render_field form.email id="EmailInput" class="form-control" placeholder="Enter Email" %}
                </fieldset>

                <fieldset class="form-group">
                    {% render_field form.password id="PasswrodInput" class="form-control" placeholder="Password" %}
                </fieldset>

                <fieldset class="form-group">
                    {% render_field form.confirm_password class="form-control" placeholder="Confirm Password" %}
                </fieldset>
                <input type="submit" value="submit" class="btn btn-primary">
            </form>
        </div>
    </div>
{% endblock %}