Babel==1.3
Django==1.9.2
Fabric==1.9.0
IPy==0.81
Jinja2==2.7.3
M2Crypto==0.22.5
MarkupSafe==0.23
Pillow==2.7.0
PyGithub==1.25.2
PyPAM==0.5.0
PyXB==1.2.3
PyYAML==3.11
RBTools==0.7.4
SSSDConfig==1.12.5
astroid==1.2.1
autopep8==1.2.2
backports.ssl-match-hostname==3.4.0.2
blivet==0.61.15
chardet==2.2.1
coverage==3.7
cssselect==0.9.1
decorator==3.4.0
devassistant==0.9.4
django-widget-tweaks==1.4.1
djangorestframework==3.3.3
docutils==0.12
ecdsa==0.11
empy==3.3.2
enum34==1.1.6
fros==1.0
glusterfs-api==3.5.6
humanize==0.5
iniparse==0.4
ipython==2.4.1
javapackages==4.1.0
jira==1.0.3
jsonpointer==1.0
jsonschema==2.3.0
kitchen==1.2.1
langtable==0.0.29
logilab-common==0.62.1
loki==1.0.27
lxml==3.3.6
matplotlib==1.3.1
meld==3.12.3
msgpack-python==0.4.6
ndg-httpsclient==0.3.2
nose==1.3.7
ntplib==0.3.2
numpy==1.8.2
oauthlib==1.1.2
paramiko==1.15.1
path.py==5.1
pep8==1.7.0
pexpect==3.1
policycoreutils-default-encoding==0.1
progress==1.2
psycopg2==2.5.4
pwquality==1.2.4
pyOpenSSL==0.13.1
pyasn1==0.1.7
pyasn1-modules==0.0.5
pycrypto==2.6.1
pycurl==7.19.3.1
pygobject==3.14.0
pygpgme==0.3
pyinotify==0.9.6
pykickstart==1.99.65
pyliblzma==0.5.3
pylint==1.3.1
pyparsing==2.0.3
pyparted==3.10.4
python-augeas==0.5.0
python-dateutil==1.5
python-dmidecode==3.10.13
python-ldap==2.4.17
python-meh==0.32
python-memcached==1.58
python-nss==0.16.0
pytz==2012d
pyxattr==0.5.3
pyxdg==0.25
pyzmq==14.3.1
requests==2.7.0
requests-oauthlib==0.6.1
requests-toolbelt==0.6.2
rpm-python==4.12.0.1
salt==2015.5.5
seobject==0.1
sepolicy==1.1
setroubleshoot==1.1
simplegeneric==0.8
simplejson==3.5.3
six==1.9.0
slip==0.6.4
slip.dbus==0.6.4
sprite-tools==1.0.44
threadpool==1.3.2
tlslite==0.4.9
tornado==3.2.2
urlgrabber==3.10.1
urllib3==1.10.4
wsgiref==0.1.2
yum-langpacks==0.4.5
yum-metadata-parser==1.1.4
