<head>
{%load static %}
<style>
#filedrag
{
	display: none;
	font-weight: bold;
	text-align: center;
	padding: 1em 0;
	margin: 1em 0;
	color: #555;
	border: 2px dashed #555;
	border-radius: 7px;
	cursor: default;
}
#filedrag.hover
{
	color: #f00;
	border-color: #f00;
	border-style: solid;
	box-shadow: inset 0 3px 4px #888;
}
</style>
<script src="{% static 'js/masterpiece_editor.js' %}"></script>>
</head>
<body>
	<h1>Master Piece Edit </h1>
	<div>
	<button onclick="createTextInput()" type="button" id="createTextField" > Create Text</button>
	</div>
	<div>
		<label for="fileselect">Files to upload:</label>
		<input type="file" id="fileselect" name="fileselect[]" multiple="multiple" />
		<br>
		<br>
		<br>
		<div id="filedrag"> or drop files here </div>
	</div>
	<button onclick="MySubmission()">submit files</button>
</body>


