<head>
<style>
#filedrag
{
	display: none;
	font-weight: bold;
	text-align: center;
	padding: 1em 0;
	margin: 1em 0;
	color: #555;
	border: 2px dashed #555;
	border-radius: 7px;
	cursor: default;
}
#filedrag.hover
{
	color: #f00;
	border-color: #f00;
	border-style: solid;
	box-shadow: inset 0 3px 4px #888;
}
</style>
</head>
<body>
	<h1>Master Piece Edit </h1>
	<div>
	<button onclick="createTextInput()" type="button" id="createTextField" > Create Text</button>
	</div>
	<div>
		<label for="fileselect">Files to upload:</label>
		<input type="file" id="fileselect" name="fileselect[]" multiple="multiple" />
		<br>
		<br>
		<br>
		<div id="filedrag"> or drop files here </div>
	</div>

</body>

<script>
function createTextInput(){
	var newText=document.createElement("input");
	var hinter=document.getElementById("hinter");
	var br= document.createElement("br");
	//newText=newText.appendChild(br);
	newText.type="text";
	last=document.body.lastChild;
	hinter.innerHTML=last.innerHTML;
	document.body.insertBefore(newText,last);
	document.body.insertBefore(br,last);	
	//document.body.appendChild(newText);
}
if(window.File && window.FileList && window.FileReader){
	Init();
}
function Init(){

	var fileselect=document.getElementById("fileselect");
	var filedrag=document.getElementById("filedrag");
	fileselect.addEventListener("change", FileSelectHandler, false);

	document.write("init...");
	var xhr = new XMLHttpRequest();
	if (xhr.upload) {
		// file drop
		filedrag.addEventListener("dragover", FileDragHover, false);
		filedrag.addEventListener("dragleave", FileDragHover, false);
		filedrag.addEventListener("drop", FileSelectHandler, false);
		filedrag.style.display = "block";

	}
	document.write("init...");
}
function FileDragHover(e){
	e.stopPropagation();
	e.preventDefault();
	e.target.className=(e.type=="dragover"? "hover":"");
}
function FileSelectHandler(e){
	document.write("here");
	FileDragHover(e);
	var files=e.target.files || e.dataTransfer.files;
	for(var i=0,f;f=files[i];i++ )
		document.write(i);
}
	
</script>
