<head>
{%load static %}
<link rel="stylesheet" href="{% static 'css/drag_drop.css'%}">
<script src="{% static 'js/masterpiece_editor.js' %}"></script>>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
</head>
<body>
	<h1>Master Piece Edit </h1>
	<div>
	<button onclick="TextBlock()" type="button" id="createTextField" > Create Text</button>
	</div>
	<div>
		<label for="fileselect">Files to upload:</label>
		<input type="file" id="fileselect" name="fileselect[]" multiple="multiple" />
		<br>
		<br>
		<br>
		<div id="filedrag"> or drop files here </div>
	</div>
	<button onclick="MySubmission()">submit files</button>
</body>


