#board {
    display: flex;
    align-items: center;
    height: 300px;
}

#submit{
    width: 100%;
    border-radius: 5px;
    height: 35px;
}

.center-it {
    margin:  auto;
    text-align: center;
    width: 25%;
}
.logo-contianer{
    margin-top: 10%;
    width: 100%;
    color: #f9f9f9;
}

#ground{
    background-image: url('../image/login.jpeg ');

    position: fixed;
    height: 100%;
    width: 100%;
}

h1 {
	font: 400 3.5em/125% 'Berkshire Swash', Helvetica, Sans-serif;

}