{% extends "base.html" %}
<!DOCTYPE html>
<html lang="en">
{% block extraHeader %}
    <head>
        {% load static %}
        <script src="{% static 'js/upload.js' %}" type="text/javascript"></script>
        <script src="{% static 'js/managePage.js' %}" type="text/javascript"></script>


        <link rel="stylesheet" href="{% static 'css/upload.css' %}">
        <link rel="stylesheet" href="{% static 'css/managePage.css' %}">
        <meta charset="UTF-8">
        <title>Recourse Mangae Page</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.1/jquery.min.js"></script>
        <link rel="stylesheet"
              href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
        <script>$.ajaxSetup({data: {csrfmiddlewaretoken: '{{ csrf_token }}'},});</script>
        <link rel="stylesheet" href="http://s.mlcdn.co/animate.css">
    </head>
{% endblock extraHeader %}

<body>
{% block content %}
    <!-- side bar-->
    <div id="wrapper">
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li><a href="#" id="allTab">All</a></li>
                <li><a href="#" id="videoTab">Video</a></li>
                <li><a href="#" id="imageTab">Image</a></li>
                <li><a href="#" id="textTab">Text</a></li>
                <li><a href="#" id="otherTab">Other</a></li>
            </ul>
        </div>
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row nav nav-pills">
                    <li class="btn btn-primary " role="presentation" onclick='popUp()'> upload</li>
                    <li class="btn btn-danger " role="presentation" onclick="">Delete</li>
                </div>
                <div id="resList" class="list-group" style="overflow-clip: auto; margin-top: 20px">
                </div>

            </div>
        </div>
    </div>
    <script>
        var file_list = {{ file_list }}
                $(function () {
                    $('#videoTab').click(function () {
                        getTypeFile(file_list, "VIDEO")
                    })
                    $('#imageTab').click(function () {
                        getTypeFile(file_list, "IMAGE")
                    })
                    $('#textTab').click(function () {
                        getTypeFile(file_list, "TEXT")
                    })
                    $('#otherTab').click(function () {
                        getTypeFile(file_list, "UNKNOWN")
                    })
                    $('#allTab').click(function () {
                        getTypeFile(file_list, "ALL")
                    })

                    $('#bs-example-navbar-collapse-1').append($('<ul class="nav navbar-nav" style="position: absolute; top: 0px;left: 0px">\
                <li id="menu-toggle"><a href="#"> <span class="glyphicon glyphicon-th-list"> </span></a></li>\
            </ul>'))
                    $("#menu-toggle").click(function (e) {
                        e.preventDefault();
                        console.log("toggle")
                        $("#wrapper").toggleClass("menuDisplayed")
                    });
                })
        insertEntryInContainer(file_list, $('#resList'))
    </script>
    {% include 'RepoKeeper/uploadPage.html' %}
{% endblock content %}
</body>
</html>